Repository fabn/terraform-modules: changes, and which lefthook commands are due for each by the changed paths.
All: actionlint, terraform-format

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

# Which added stage_fixed option
min_version: 1.7.0

# Can be tweaked to avoid printing output as your preference into .lefthook.local.yml
# skip_output:
  # - execution      # Skips printing any execution logs (but prints if the execution failed)
  # - execution_out  # Skips printing execution output (but still prints failed commands output)  -
  # - execution_info # Skips printing `EXECUTE > ...` logging

pre-push: &pre-push
  parallel: true
  commands:
    actionlint:
      glob: ".github/workflows/**.*"
      run: actionlint
    terraform-format:
      glob: "*.{tf,hcl}"
      exclude: ".lock.hcl"
      run: terraform fmt -check -recursive {push_files}
    terraform-validate:
      glob: "*.tf"
      run: terraform validate -no-color

pre-commit:
  commands:
    actionlint:
      glob: ".github/workflows/**.*"
      run: actionlint
    terraform-format:
      glob: "*.{tf,hcl}"
      exclude: ".lock.hcl"
      stage_fixed: true
      run: terraform fmt {staged_files}


# When branch is changed (and there's at least a hcl in the diff) perform a terraform init for each module
post-checkout:
  parallel: true
  commands:
    terraform-init:
      files: git diff --name-only {1} {2}
      glob: '*.lock.hcl'
      run: terraform init

# Allow validate all to be run as custom command with
# lefthook run validate-all
validate-all: *pre-push

Pin terraform version to 1.11
  .github/workflows/e2e.yml
Due: actionlint

Add support for feature overrides in datadog (#20)
  .github/workflows/e2e.yml
  k8s/datadog/datadog.tftest.hcl
  k8s/datadog/main.tf
  k8s/datadog/variables.tf
Due: actionlint, terraform-format

Couple of ingress controller fixes
  k8s/ingress-controller-nginx/nginx-ingress.tf
  k8s/ingress-controller-nginx/variables.tf
Due: terraform-format

Additional test
  k8s/ingress-controller-nginx/configuration.tftest.hcl
Due: terraform-format

Allow additional ENV variables for nodeAgent
  k8s/datadog/datadog.tftest.hcl
  k8s/datadog/main.tf
  k8s/datadog/variables.tf
Due: terraform-format

Datadog env fix (#21)
  k8s/datadog/datadog.tftest.hcl
  k8s/datadog/main.tf
  k8s/datadog/variables.tf
  k8s/ingress-controller-nginx/configuration.tftest.hcl
Due: terraform-format

Pass node_agent_env as map
  k8s/datadog/datadog.tftest.hcl
  k8s/datadog/main.tf
  k8s/datadog/variables.tf
Due: terraform-format

Pass node_agent_env as map (#22)
  k8s/datadog/datadog.tftest.hcl
  k8s/datadog/main.tf
  k8s/datadog/variables.tf
Due: terraform-format

Expose nginx status endpoint
  k8s/ingress-controller-nginx/base-values.yml
Due: none

Expose nginx status endpoint (#23)
  k8s/ingress-controller-nginx/base-values.yml
Due: none

Tagger module for datadog
  k8s/datadog-tagger/Readme.md
  k8s/datadog-tagger/checks.tftest.hcl
  k8s/datadog-tagger/checks_annotations.tf
  k8s/datadog-tagger/logs_annotations.tf
  k8s/datadog-tagger/main.tf
  k8s/datadog-tagger/outputs.tf
  k8s/datadog-tagger/tags.tftest.hcl
  k8s/datadog-tagger/variables.tf
Due: terraform-format

Tagger module for datadog (#24)
  k8s/datadog-tagger/Readme.md
  k8s/datadog-tagger/checks.tftest.hcl
  k8s/datadog-tagger/checks_annotations.tf
  k8s/datadog-tagger/logs_annotations.tf
  k8s/datadog-tagger/main.tf
  k8s/datadog-tagger/outputs.tf
  k8s/datadog-tagger/tags.tftest.hcl
  k8s/datadog-tagger/variables.tf
Due: terraform-format

Set request ID
  k8s/ingress-controller-nginx/base-values.yml
Due: none

Set request ID in ingress controller (#25)
  k8s/ingress-controller-nginx/base-values.yml
Due: none

Implement release drafter
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Due: actionlint

Implement release drafter (#28)
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Due: actionlint

Upgrade rancher module to Helm provider version 3
  k8s/rancher/configuration.tftest.hcl
  k8s/rancher/kind_rancher.tftest.hcl
  k8s/rancher/main.tf
  k8s/rancher/outputs.tf
  k8s/rancher/rancher.tf
Due: terraform-format

Also upgrade ingress controller to work with helm v3
  k8s/ingress-controller-nginx/kind_test.tftest.hcl
  k8s/ingress-controller-nginx/main.tf
  k8s/ingress-controller-nginx/nginx-ingress.tf
  k8s/ingress-controller-nginx/outputs.tf
Due: terraform-format

Make performance dashboard optin
  k8s/rancher/rancher.tf
  k8s/rancher/variables.tf
Due: terraform-format

Couple of fixes
  k8s/rancher/rancher.tf
  k8s/rancher/variables.tf
Due: terraform-format

Different configuration for defaults
  k8s/rancher/variables.tf
Due: terraform-format

Other issue fixed
  k8s/rancher/kind_rancher.tftest.hcl
Due: terraform-format

Fix type
  k8s/rancher/outputs.tf
Due: terraform-format

Bootstrap password is an input
  k8s/rancher/bootstrap/configuration.tftest.hcl
  k8s/rancher/bootstrap/outputs.tf
  k8s/rancher/bootstrap/rancher-bootstrap.tf
  k8s/rancher/bootstrap/variables.tf
Due: terraform-format

Typo
  k8s/rancher/kind_rancher.tftest.hcl
Due: terraform-format

Reuse it
  k8s/rancher/kind_rancher.tftest.hcl
  k8s/rancher/outputs.tf
  k8s/rancher/rancher.tf
  k8s/rancher/variables.tf
Due: terraform-format

Fix output
  k8s/rancher/kind_rancher.tftest.hcl
Due: terraform-format

Fix values output
  k8s/rancher/outputs.tf
  k8s/rancher/values.tftest.hcl
Due: terraform-format

Remove constraint
  k8s/rancher/variables.tf
Due: terraform-format

Fix output with no values given
  k8s/rancher/outputs.tf
Due: terraform-format

Add hostname output
  k8s/rancher/outputs.tf
Due: terraform-format

Fix bootstrap password passing
  k8s/rancher/kind_rancher.tftest.hcl
  k8s/rancher/outputs.tf
  k8s/rancher/rancher.tf
  k8s/rancher/variables.tf
Due: terraform-format

Extract bootstrap in a standalone module
  k8s/rancher/bootstrap/configuration.tftest.hcl
  k8s/rancher/bootstrap/outputs.tf
  k8s/rancher/bootstrap/rancher-bootstrap.tf
  k8s/rancher/bootstrap/variables.tf
Due: terraform-format

Fix dependency
  k8s/rancher/rancher.tf
Due: terraform-format

Test with finalizer remove
  k8s/rancher/kind_rancher.tftest.hcl
  misc/finalizer/main.tf
Due: terraform-format

Fix typo
  k8s/rancher/kind_rancher.tftest.hcl
Due: terraform-format

Remove special chars from bootstrap password
  k8s/rancher/rancher.tf
Due: terraform-format

Upgrade rancher module and nginx ingress module to Helm provider version 3 (#27)
  k8s/ingress-controller-nginx/kind_test.tftest.hcl
  k8s/ingress-controller-nginx/main.tf
  k8s/ingress-controller-nginx/nginx-ingress.tf
  k8s/ingress-controller-nginx/outputs.tf
  k8s/rancher/bootstrap/configuration.tftest.hcl
  k8s/rancher/bootstrap/outputs.tf
  k8s/rancher/bootstrap/rancher-bootstrap.tf
  k8s/rancher/bootstrap/variables.tf
  k8s/rancher/configuration.tftest.hcl
  k8s/rancher/kind_rancher.tftest.hcl
  k8s/rancher/main.tf
  k8s/rancher/outputs.tf
  k8s/rancher/rancher.tf
  k8s/rancher/values.tftest.hcl
  k8s/rancher/variables.tf
  misc/finalizer/main.tf
Due: terraform-format

Disable postdelete job in CI
  k8s/rancher/kind_rancher.tftest.hcl
Due: terraform-format

Allow cattle-system namespace customization
  k8s/rancher/rancher.tf
  k8s/rancher/variables.tf
Due: terraform-format
